GITLAB_URL: https://your.gitlab.uri
GITLAB_ID: YOUR_ID
GITLAB_PW: YOUR_PASSWORD
PRIVATE_TOKEN: YOUR_ADMIN_TOKEN
REPO_ROOT: /repo/
API_URL: http://localhost:8080/api/repo
PUBLIC_KEY: YOUR_PUBLIC_KEY
PRIVATE_KEY: YOUR_PRIVATE_KEY
MAILSVR: YOUR_MAIL_SERVER_IP
ALGORITHM: sha1
PRJ: projects.txt
OLD: release.old
NEW: release.txt
ADD: add.release
DEL: del.release
SNAME: Searchcode
SENDER: searchcode@domain
RNAME: YOUR_TEAM_NAME
RECEIVER: team@domain
SIGNATURE: YOUR_SIGNATURE
